

<div class="flex-grow">
    <img src="@Image" alt="Image" class="col-auto" />
    <h4>@Name</h4>
    <p>@Price €</p>
    <p>@Description</p>
</div>


@code {
    [Parameter] public string Name { get; set; } = null!;
    [Parameter] public string Description { get; set; } = null!;
    [Parameter] public decimal Price { get; set; }
    [Parameter] public string Image { get; set; } = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSV4vNkBPdHeLeiFOs9_043UybrGIsPJ6TklQ&usqp=CAU";

}